<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <select class="form-select" aria-label="Default select example" style="width: 20%; margin-left: auto;" (change)="filterByCategory($event)">
          <option selected value="0">Select one category</option>
          <option [value]="category.id" *ngFor="let category of categories;">{{category.name}}</option>
        </select>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-3 mt-2" align="center" *ngFor="let product of productsFiltered">
      <div class="card" style="width: 14rem;">
        <img [src]="BASE_URL+product.image" class="card-img-top" style="height: 150px;">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">Price: {{product.price | currency}}</p>
          <div class="d-flex justify-content-around align-items-center">
            <button class="btn btn-success" disabled>Add to cart</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="detail(product.id)">Info</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{productDetail.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img class="image" [src]="BASE_URL+productDetail.image" width="100%" height="200px">
        <div class="text mt-4">
          <p>Category: {{productDetail.category.name}}</p>
          <p>Price: {{productDetail.price | currency}}</p>
          <p>Stock: {{productDetail.stock}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>