<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <select class="form-select" aria-label="Default select example" style="width: 20%; margin-left: auto;" (change)="filterByCategory($event)">
          <option selected value="0">Select one category</option>
          <option [value]="category.id" *ngFor="let category of categories;">{{category.name}}</option>
        </select>
      </div>
    </div>
  </nav>

  <div *ngIf="productsFiltered">
    <div class="row">
      <div class="col-md-3 mt-2" align="center" *ngFor="let product of productsFiltered">
        <div class="card" style="width: 14rem;">
          <img [src]="BASE_URL+product.image" class="card-img-top" style="height: 150px;">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Price: {{product.price | currency}}</p>
            <div class="d-flex justify-content-around align-items-center">
              <button class="btn btn-success" disabled>Add to cart</button>
              <a class="btn btn-warning" [routerLink]="['detail', product.id]">Info</a>
            </div>
              <a routerLink="edit/{{product.id}}" class="btn btn-primary mt-2 mx-auto">Editar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>